@mixin style-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
@mixin style-title {
  font-family: $main-font;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
@mixin style-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}